{# add_game.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ajouter un jeu</h1>

    {{ form_start(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.price) }}
    {{ form_row(form.platform) }}
    {{ form_row(form.publisher) }}


    {{ form_row(form.save) }}

    {{ form_end(form) }}
{% endblock %}