{% extends 'base.html.twig' %}
{% block body %}
    <body>
        {{ form_start(form) }}

        {{ form_row(form.name) }}
        {{ form_row(form.price) }}
        {{ form_row(form.platform) }}
        {{ form_row(form.publisher) }}

        {{ form_row(form.save) }}

        {{ form_end(form) }}
    </body>

{% endblock %}
