{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des produits appartenant à {{ app.user.username }}</h1>

    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Platform</th>
            <th>Publisher</th>
            <th>Supprimer</th>
            <th>Modifier</th>
            <th>Plus d'information</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.price }} €</td>
                <td>{{ product.platform }}</td>
                <td>{{ product.publisher }}</td>
                <td>

                    <a href="{{ path('app_product_delete', {'id': product.id}) }}" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur ?')">Supprimer</a>
                </td>
                <td>
                    <a href="{{ path('product_update_form', {'id': product.id}) }}" class="btn btn-primary">Modifier</a>
                </td>
                <td>
                    <a href="{{ path('app_player_show', {'id': product.id}) }}" class="btn btn-secondary">Voir plus</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
