{% extends 'base.html.twig' %}

{% block body %}
<h1>All Products</h1>

<table>
    <thead>
    <tr>
        <th>Nom du jeu</th>
        <th>Prix</th>
        <th>Platforme</th>
        <th>Éditeur</th>
        {% if is_granted('ROLE_Admin') %}
        <th>Supprimer</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for product in products %}
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.price }} €</td>
            <td>{{ product.platform }}</td>
            <td>{{ product.publisher }}</td>
            {% if is_granted('ROLE_Admin') %}
            <td>
                <a href="{{ path('app_product_delete', {'id': product.id}) }}" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce produit ?')">Supprimer</a>
            </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
    <a style="margin-left: 5%" href="{{ path('app_products_user') }}" class="btn btn-primary">Voir mes produits</a>

{% endblock %}
